@import "./reset.css";
@import "./font.css";



:root {
	--main-color: 234, 234, 234;
	--accent-color: 210, 210, 210;
	--text-color: 0, 0, 0;
	--delete-color: 222, 27, 44;
	--add-color: 79, 201, 255;
	--placeholder-color: 163, 163, 163;
	--highlight-color: 163, 163, 163;
}

* {
	box-sizing: border-box;
}

:-moz-placeholder {
	color: rgb(var(--placeholder-color));
}

::-webkit-input-placeholder {
	color: rgb(var(--placeholder-color));
}

input {
	color: rgb(var(--text-color));
}

*:focus {
	outline: none;
}

:focus::-webkit-input-placeholder {
	color: transparent;
}

:focus::-moz-placeholder {
	color: transparent;
}

:focus:-moz-placeholder {
	color: transparent;
}

:focus:-ms-input-placeholder {
	color: transparent;
}

strong,
b {
	font-weight: bold;
}

em {
	font-style: italic;
}

ul,
ol {
	padding-left: 2rem;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}



body,
html {
	background-color: rgb(var(--main-color));
	color: rgb(var(--text-color));
	font-family: "Roboto";
	font-weight: 300;
}

button {
	background-color: #fff;
}

.container {
	position: relative;
	width: 100vw;
	overflow-x: hidden;
}

.grid {
	width: 100%;
	padding: 0 1rem;
}

img {
	display: block;
	width: 100%;
	height: auto;
}



/*Кнопки*/
.btn {
	display: inline-block;
	padding: .5rem .7rem;
	background-color: rgb(var(--accent-color));
	border-radius: .3rem;
	color: rgb(var(--text-color));
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

.back-btn {
	max-width: 3rem;
	cursor: pointer;
}

/*Кнопки END*/



/*Экран перед трюком*/
.extra-list {
	display: flex;
	flex-direction: column;
}

.extra-list .item {
	margin-bottom: 1rem;
	background-color: rgb(var(--accent-color));
	border-radius: .3rem;
	padding: .5rem .7rem;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}

/*Экран перед трюком END*/


/*Обучение*/
.description,
.explanation {
	margin-bottom: .5rem;
	font-weight: 400;
}

.explanation-ol li {
	margin-bottom: 1rem;
}

.explanation-ol p {
	margin-bottom: 1rem;
}

.description-text {
	margin-bottom: 1rem;
}

.explanation-img {
	margin-bottom: 1rem;
	border: 1px solid rgb(var(--accent-color));
}

.explanation-img.small {
	width: 50%;
	margin-left: 25%;
}

/*Обучение END*/



/*Ютуб видео*/

/*Ютуб видео END*/


.d-n {
	display: none;
}